.vscode/
generated/
ugbc/src-generated/
usermanual/
userref/
prepare_docs.sh
prepare_user_manual.php
ugbc/exe
ugbc/exe-test
tests/
core
vgcore*
ugbc/objs*
10liner.sym
10liner.vb
nightly_build.sh
nightly_build_all.sh
upload_build.sh
upload_build_beta.sh
build_all_examples.sh
*.php
BETA
website/
acme-inc-10liner/
falling-balls-10liner/
4gravity/
Creepy-Carrots/
soko64/
cocon/
pick-the-star-10liner/
tic-tac-toe-10liner/
hangword*/
cv/
deepy*/
mokong*/
*.sh
*.log
book/
bugs/
badapple/
karate/
examples/*.xex
examples/*.listing
examples/*.prg
examples/*.reu
examples/*.d64
examples/*.bin
examples/*.rom
examples/*.sym
examples/*.dsk
examples/*.ram
examples/*.rel


