.vscode/
generated/
ugbc/src-generated/
usermanual/
userref/
prepare_docs.sh
prepare_user_manual.php
ugbc/exe
ugbc/exe-test
tests/
core
vgcore*
ugbc/objs*
10liner.sym
10liner.vb
nightly_build.sh
nightly_build_all.sh

