[submodule "modules/toolshed"]
	path = modules/toolshed
	url = https://github.com/spotlessmind1975/toolshed.git
[submodule "modules/bison"]
	path = modules/bison
	url = https://github.com/spotlessmind1975/bison
[submodule "modules/flex"]
	path = modules/flex
	url = https://github.com/spotlessmind1975/flex
[submodule "modules/asm6809"]
	path = modules/asm6809
	url = https://github.com/spotlessmind1975/asm6809.git
[submodule "modules/cc65"]
	path = modules/cc65
	url = https://github.com/spotlessmind1975/cc65.git
